<script type="text/javascript" src="/static/plugins/byy/byy.js"></script>
<!-- 用户信息 -->
<script type="text/javascript">
var LoginUser;
{% if github %}
LoginUser = {
	id : '{{github.id}}',
	name : '{{github.name}}',
	blog : '{{github.blog if github.blog else github.html_url}}',
	avatar_url : '{{github.avatar_url}}'
};
{% endif %}
byy.setRequire({
	basePath : '/static/js/common/',
	modules : {
		common : 'common',
		easy : 'easy',
		bball : 'bball'
	}
});
</script>
<script>
{{site.tongjiscript.value | safe}}
</script>