<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>微信dat文件在线解码-解密为图片-如何打开微信dat文件 - {{site.sitename.value}}</title>
    <meta name="description" content="微信wechat dat文件解密，将dat文件在线解码为图片，并可以直接进行下载，服务器绝不保存任何文件。微信dat文件在线解码-解密为图片-如何打开微信dat文件">
    <meta name="keywords" content="微信dat,dat文件解密,dat文件解码,wechat dat decoder,在线解码dat,微信dat解码,打开dat微信文件">
    <meta name="author" content="{{site.sitename.value}}">
    <meta name="site" content="{{site.domain.value}}">
    <meta name="title" content="微信dat文件在线解码-解密为图片-如何打开微信dat文件">
    {% include '../tpl/css.html' %}
    <style>
        html,body{margin:0px;padding:0px;}
        body{
            padding:10px 20px;
            background-color:#f6e2c9;
        }
        .left{padding:10px;font-size:16px;line-height:1.5em;}
        .top{
            position:fixed;
            top:0px;
            right:0px;
        }
    </style>
</head>

<body>
    <div style="display:none;">
        如何为微信dat文件解密？<br />
        微信dat解码软件从哪里下载？<br />
        在线解码微信dat文件？<br />
        dat图片文件怎么打开？<br />
        微信打开dat文件？<br />
    </div>
    <div id="tipss" style="font-weight:bold;font-size:30px;height:30px;text-align:center;"></div>
    <div class="byy-form-info" style="line-height:22px;">
        <div class="left">
            说明：<br />
            1.微信文件默认在【 C:\Users\Administrator\Documents\WeChat Files 】下，找到FileStorage/Image 下的dat文件上传即可。<br />
            <span style="text-decoration:line-through;">2.上传大小限制20M，实际上5M以上下载就会很慢了(服务器带宽1M,所以很慢).</span><br />
            2.由于上传文件过多，严重影响了博客的访问速度..只能再次限制大小(1M).同时，可以去我的<a href="/shop" target="_blank" style="color:#49e;">{{site.shopname.value}}</a>购买软件哦.<a href="/shop" style="color:#49e;" target="_blank">点我进入小店</a><br />
            3.文件是获取即转，然后删除并下发base64图片内容.<span style="color:red;">推荐使用谷歌浏览器</span>。<br />
            4.有编码能力的可以直接看源码，实现不难，这里主要提供给无编码能力的人使用.<br />
            <span style="font-weight:bold;color:#3fbcb4;">5.各位同学可以扫下右上角的二维码，关注公众号,回复:dat ,可将文件大小提升到2M,回复:红包 还会有不定时的红包活动哦!</span>
        </div>
        <div class="top">
            <i class="byyicon icon-close" title="点击关闭，不影响使用" style="position:absolute;left:-20px;top:0px;cursor:pointer;" filter="closeAd"></i>
            <img src="{{site.staticfiledomain.value}}/static/images/gongzhonghao.jpg" alt="" style="width:200px;display:block;">
        </div>
    </div>
    <div class="text-center">
        <span class="byy-btn" id="upload">点击选择dat文件(可批量选择)</span>
        <span id="coder"><span class="byy-btn danger small" filter="coder">输入序列号</span></span>
    </div>
    <div>
        <div class="tool" style="margin-bottom:20px;">
            <span class="byy-btn small danger" filter="clear">清空图片</span><span style="margin-left:20px;" class="byy-btn small warm" filter="downloadall">全部下载</span>
        </div>
        <!-- 图片区域-->
        <div class="content" style="min-height:400px;">
            
        </div>
        <div style="margin:20px auto;width:1000px;">
            <!--糊口区域-->
        </div>
    </div>
</body>

</html>
{%include '../tpl/commonjs.html'%}
<script type="text/javascript">
var counter = 0;
var coderstr = '';
function read(file) {
    var reader = new FileReader();
    reader.readAsArrayBuffer(file);
    var base = 0xFF;
    var jn = 0xD8;
    var gifA = 0x47;
    var gifB = 0x49;
    var pngA = 0x89;
    var pngB = 0x50;
    reader.onload = function(bf) {
        var content = new DataView(this.result);
        var firstV = content.getInt8(0),
            nextV = content.getInt8(1),
            jT = firstV ^ base,
            jB = nextV ^ jn,
            gT = firstV ^ gifA,
            gB = nextV ^ gifB,
            pT = firstV ^ pngA,
            pB = nextV ^ pngB;
        var coder = firstV ^ base;
        if (jT == jB) {
            coder = jT;
        } else if (gT == gB) {
            coder = gT;
        } else if (pT == pB) {
            coder = pT;
        }
        // var bbb = '';
        for (var i = 0; i < content.byteLength; i++) {
            var br = content.getInt8(i) ^ coder;
            content.setInt8(i, br);
        }
        var binary = '';
        var bytes = new Uint8Array(content.buffer);
        var len = bytes.byteLength;
        for (var i = 0; i < len; i++) {
            binary += String.fromCharCode(bytes[i]);
        }
        var str = window.btoa(binary);
        var img = new Image();
        img.src = 'data:image/png;base64,' + str;
        img.onload = function() {
            var $img = $(this);
            $img.css({
                height: '200px',
                width: 'auto',
                display: 'block'
            });
            var $span = $('<span style="height:230px;float:left;display:inline-block;text-align:center;"></span>');
            $span.append($img);
            $span.append('<span class="byy-btn mini" filter="download">点击下载</span>');
            $('.content').append($span);
        }
    }
}

function downloadFile(content, fileName) { //下载base64图片
    var base64ToBlob = function(code) {
        var parts = code.split(';base64,');
        var contentType = parts[0].split(':')[1];
        var raw = window.atob(parts[1]);
        var rawLength = raw.length;
        var uInt8Array = new Uint8Array(rawLength);
        for (var i = 0; i < rawLength; ++i) {
            uInt8Array[i] = raw.charCodeAt(i);
        }
        return new Blob([uInt8Array], {
            type: contentType
        });
    };
    var aLink = document.createElement('a');
    var blob = base64ToBlob(content); //new Blob([content]);
    var evt = document.createEvent("HTMLEvents");
    evt.initEvent("click", true, true); //initEvent 不加后两个参数在FF下会报错  事件类型，是否冒泡，是否阻止浏览器的默认行为
    aLink.download = fileName;
    aLink.href = URL.createObjectURL(blob);
    aLink.click();
};
byy.require(['jquery', 'uploader', 'win'], function() {
    $.ajax({
        url: '/index/datCount',
        type: 'GET',
        success: function(rs) {
            $('#tipss').html(rs.msg);
        }
    });
    byy.bindEvents({
        coder : function(){
            byy.win.prompt({
                title : '请输入序列号',
            },function(value,ldx){
                byy.win.close(ldx);
                var code = (value||'').trim();
                coderstr = code;
                $('#coder').html($('#coder').find('[filter="coder"]').get(0).outerHTML+'<span>当前序列号:'+code+'</span>');
                localStorage.setItem('local_code',code);
                location.reload();
            },function(){});
        },
        closeAd: function() {
            $(this).parent().remove();
        },
        clear: function() {
            $('.content').html('');
        },
        download: function() {
            var $p = $(this).parent();
            var $img = $p.find('img');
            downloadFile($img.attr('src'), (counter++) + '.png');
        },
        downloadall: function() {
            $imgs = $('.content').find('img');
            $imgs.each(function(i, item) {
                var $img = $(item);
                downloadFile($img.attr('src'), (counter++) + '.png');
            })
        }
    });
    
    var cc = localStorage.getItem('local_code');
    if(cc && cc != null && cc != ''){
        coderstr = cc;
        $('#coder').html($('#coder').find('[filter="coder"]').get(0).outerHTML+'<span>当前序列号:'+coderstr+'</span>');
    }
    var size = 2 * 1024 * 1024;
    byy.uploader().multiFile({
        selector: '#upload',
        accept: {
            title: 'dat文件',
            extensions: 'dat',
            mimeType: 'application/octet-stream'
        },
        server: '/index/uploadDat',
        formData : {
            coder : coderstr
        },
        size: size,
        onBefore : function(file){
        },
        onSuccess: function(file, res) {
            if (res.success) {
                read(file.source.source)
            }
        },
        onError: function(er, msg) {
            byy.win.msg(msg + ',仅限dat文件(2M以内),关注公众号可以提升到2M!超出限制请购买软件，点击上方商店链接!软件本地转码，不联网，速度可达到10S近千张图片转化!');
        }
    });
})
</script>
<script>
{{ site.tongjiscript.value | safe }}
</script>