<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心</title>
	<link rel="stylesheet" href="{{site.staticfiledomain.value}}/static/plugins/byy/css/default/byy.css">
	<link rel="stylesheet" href="{{site.staticfiledomain.value}}/static/css/center/home.css">
</head>
<body>
	<div class="byy-side">
		<div class="byy-side-scroll">
			<ul class="byy-nav byy-nav-side dark byy-nav-tree">
				<li class="text-center">管理后台<a href="/" style="color:inherit;">回首页</a></li>
				<li class="byy-nav-item">
					<a href="javascript:;">系统管理</a>
					<ul class="byy-nav-child">
						<li><a data-href="/center/site" href="javascript:;" filter="openMenu">站点属性</a></li>
						<li><a data-href="/center/banner" href="javascript:;" filter="openMenu">Banner设置</a></li>
						<li><a data-href="/center/links" href="javascript:;" filter="openMenu">友情链接</a></li>
						<li><a data-href="/center/broad" href="javascript:;" filter="openMenu">全站广播</a></li>
					</ul>
				</li>
				<li class="byy-nav-item">
					<a href="javascript:;">文章管理</a>
					<ul class="byy-nav-child">
						<li><a data-href="/center/category" href="javascript:;" filter="openMenu">文章类别</a></li>
						<li><a data-href="/center/article" href="javascript:;" filter="openMenu">文章信息</a></li>
						<li><a data-href="/center/comment" href="javascript:;" filter="openMenu">评论信息</a></li>
						<li><a data-href="/center/jokeList" href="javascript:;" filter="openMenu">笑话集锦</a></li>
						
					</ul>
				</li>

				<li class="byy-nav-item">
					<a href="javascript:;">商店管理</a>
					<ul class="byy-nav-child">
						<li><a href="javascript:;" data-href="/center/analysis" filter="openMenu">数据统计</a></li>
						<li><a href="javascript:;" data-href="/center/shopList" filter="openMenu">商品管理</a></li>
						<li><a href="javascript:;" data-href="/center/shopSuccess" filter="openMenu">购买记录</a></li>
					</ul>
				</li>
				<li class="byy-nav-item">
					<a href="javascript:;">微信管理</a>
					<ul class="byy-nav-child">
						<li><a data-href="/center/kouling" href="javascript:;" filter="openMenu">口令红包</a></li>
						<li><a href="javascript:;" data-href="/center/shopList" filter="openMenu">粉丝管理</a></li>
						<li><a href="javascript:;" data-href="/center/shopSuccess" filter="openMenu">消息管理</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="byy-body">
		

	</div>
</body>
</html>
<script type="text/javascript" src="{{site.staticfiledomain.value}}/static/plugins/byy/byy.js"></script>
<script type="text/javascript">

	byy.require(['jquery','win'],function(){
		byy('.byy-body').tab({
			notitle : true,
			async : true,
			menu : false,
			contents : []
		});
		byy.bindEvents({
			openMenu : function(data,ev){
				var href = data.href;
				console.log(href);
				byy('.byy-body').deleteTab(0);
				byy('.byy-body').addTab({
					url : href
				});
			}
		});
	});
</script>
