<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>关于 - {{site.sitename.value}}</title>
	<meta name="keywords" content="{{site.sitename.value}},{{site.authorname.value}},{{site.domain.value}}">
	<meta name="description" content="{{site.sitedes}}">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	{% include '../tpl/css.html' %}
	<style>
		
	</style>
</head>
<body>
	{%include '../tpl/header.html'%}
	<div class="byy-body">
		<div class="about-content" style="">
			<h1>关于</h1>
			<ul>
				<li class="info">操千曲而后晓声，观千剑而后识器</li>
				<li class="info">QQ交流群:{{site.qqgroup.value}}</li>
				<li class="info"><a href="{{site.github.value}}" target="_blank"><img style="width:1em;height:1em;margin-right:0.5em;" src="{{site.staticfiledomain.value}}/static/images/github.png" />github : {{site.github.value}}</a></li>
				<li class="info">友情链接请发我邮箱 {{site.email.value}}</li>
			</ul>
		</div>
		<div class="about-content byy-clear">
			<h1>朋友们</h1>
			<ul>
				{% for value in links%}
				<li class="about-link"><a href="{{value.href}}" target="_blank"><img src="{{value.iconpath}}" />{{value.name}}</a></li>
				{%endfor%}
			</ul>
		</div>
		<div class="about-content byy-clear">
			<h1>请作者喝一杯冰阔落</h1>
			<ul>
				<li style="margin-bottom:30px;">
					<img src="{{site.staticfiledomain.value}}/static/images/zhifubao.jpg" alt="">
					<p style="font-size:14px;line-height:20px;">推荐使用支付宝昂</p>
				</li>
				<li style="margin-bottom:30px;">
					<img src="{{site.staticfiledomain.value}}/static/images/weixin.jpg" alt="">
					<p style="font-size:14px;line-height:20px;">喜欢用微信也木问题哦</p>
				</li>
			</ul>
		</div>
		{%include '../tpl/footer.html'%}
	</div>
</body>
</html>
{% include '../tpl/commonjs.html'%}
<script type="text/javascript">
	byy.require('common',function(){
		byy.bindEvents({
			login : function(){
				byy.common.login();
			}
		})
	})
</script>