<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>技术系列 - {{site.sitename.value}}</title>
	<meta name="keywords" content="{{site.sitename.value}},{{site.authorname.value}},{{site.domain.value}}">
	<meta name="description" content="{{site.sitedes}}">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" href="/static/plugins/byy/css/default/byy.css">
	<link rel="stylesheet" href="/static/css/index/index.css">
</head>
<body>
	{% include '../tpl/header.html' %}

	<div class="byy-body">
		<!-- banner -->
		<div class="byy-carousel" id="banner">
			<div carousel-item="">
				{%for value in banner %}
				<div class="banner-item {{value.bannerstyle}}" style="background-image: url({{site.staticdomain.value}}{{value.bannerpath}});background-size:100% {{value.bannerheight}};">
					<div class="banner-title">{{value.title}}</div>
					<div class="banner-des">{{value.bannerdes}}</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<!--文章区域-->
		<section class="grey-bg">
			<div class="category">
				{%for value in category %}
				<span class="category-item byy-btn small danger {{'selected' if c == value.id else ''}}"><a href="/index/article.html?c={{value.id}}">{{value.name}}</a></span>
				{%endfor%}
			</div>
			<div class="section-content byy-clear">
				{% if total == 0 %}
				<div class="empty" style="width:100%;height:350px;line-height:350px;text-align:center;">
					暂无文章，博主正在紧急加班赶写中.....
				</div>
				{% endif %}
				{% for value in article %}
				<article>
					<a href="{{value.link}}" target="_self">
						<div class="post" style="background-image: url({{site.staticdomain.value}}{{value.postpath}})"></div>
					</a>
					<div class="article-title">
						<a href="{{value.link}}" target="_blank">{{value.title}}</a>
					</div>
					<div class="article-info">
						{{value.ctime}} 阅读({{value.readnum}})
						<span class="zan pull-right" data-id="{{value.id}}">
							<i class="byyicon icon-star-on"></i>({{value.likenum}})
						</span>
					</div>
				</article>
				{% endfor %}
			</div>
			<!--分页-->
			<div class="page text-center" data-total="{{total}}" data-page="{{page}}">
				
			</div>
		</section>
		{% include '../tpl/footer.html' %}
	</div>
</body>
</html>
{% include '../tpl/commonjs.html' %}
<script type="text/javascript" src="/static/js/article/article.js"></script>
