{% extends "./tpl/layout.html" %}
{%block title%}
<title>温馨提示</title>
{% endblock %}
{% block content %}
<div class="page tippd">
    <div class="weui-msg">
        <div class="weui-msg__icon-area">
            <i class="weui-icon-warn weui-icon_msg"></i>
        </div>
    </div>
    <div class="weui-msg">
        <div class="weui-msg__text-area">
            <img src="/static/images/gongzhonghao.jpg">
            <h2 class="weui-msg__title">{{title}}</h2>
            <p class="weui-msg__desc">{{msg|safe}}</p>
        </div>
    </div>
</div>
{% endblock %}